
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-1">Welcome</h1>
    <h2 class="display-5">Please create your first travel plan</h2>

	<img src="~/images/6365344.jpg" , style="margin-inline; width:50%"/>
  
</div>

